@import "tailwindcss";

@media screen {
    .a4-container {
      background: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin: 1rem auto;
      padding: 20mm;
    }
  }
  
  @media print {
    body {
      background: none;
    }
    .no-print {
      display: none;
    }
    .a4-container {
      width: 210mm;
      height: 297mm;
      padding: 20mm;
      margin: 0;
      box-shadow: none;
      page-break-after: always;
    }
  }
